* {
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/*modificar botão lista*/
ul {  
  list-style:none;
  font-size: 15px;

}

a {
  text-decoration: none;
  font-size: 15px;
  color: #a8c3d4;
  
}

/* fundo da pagina */
body {
  background-image: url(./imagens/fundo_pag.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

header ul{
  display: flex;
  /*background: linear-gradient(90deg, #59b4e0, #a8c3d4 ); fundo gradiente para o background*/
  background: linear-gradient(90deg, #022640, #0160a4 );
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 300px;
  padding-top: 40px;
  
}

header ul li{  
  padding: 30px;
}

/* transição da cor do icone*/
header ul li a{
  transition: 300ms;
  font-size: 30px;
}

/*colocar cor no link clicavel*/
header ul li a:hover{
  color: #1974b0;
  text-decoration: underline;
}

img{
  width: 180px;
}

.container h1{
font-size: 70px;
color: #c1e5fd;
}

.container h5{
  color: #dfe8f4;
  font-size: 30px;  
}

#arrow{
  font-size: 30px;
}

#about p{
  color: #dfe8f4;
  max-width: 600px;  
}

/*% geral q os 2 botões ocupa*/
.form{
  width: 30%;
}

/*largura do campo pra digitar o email.*/
.form input{
  width: 50%;
  font-size: 20px;
}

/* tamanho do botão ''enviar'' em % a pagina */
.form button{
  width: 15%;
  padding: 5px 10px;
  background-color: #c1e5fd;
  color: #022640;
  font-weight: 300;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.form button:hover{
  background-color: #1974b0;
  color: #c1e5fd;
}
